version: 2.1

orbs:
  architect: giantswarm/architect@6.13.0

workflows:
  test:
    jobs:
      - architect/go-test:
          context: architect
          name: go-test
          filters:
            # Trigger job also on git tag.
            tags:
              only: /^v.*/

      - architect/integration-test:
          context: architect
          name: basic-test
          test-dir: "integration/test/basic"
          requires:
            - go-test

      - architect/integration-test:
          context: architect
          name: release-test
          test-dir: "integration/test/releasetesting"
          requires:
            - go-test
